[user]
  name = shibuyahiroyuki
  email = mk.9.q.kyu@gmail.com

[core]
  editor = nvim
  pager = delta

[color]
  ui = true

[alias]
  ad  = add
  ada = add -A
  st  = status
  ss  = stash
  rmc = !"git rm -r --cached ."
  br  = branch
  brd = !git branch | fzf -m --print0 | tr -d ' ' | xargs -0 git branch -D
  cm  = commit --verbose
  cmm = !"git add -A && git status && git commit -m"
  coa = !"git branch --all | tr -d '* ' | grep -v -e '->' | peco | sed -e 's+remotes/[^/]*/++g' | xargs git checkout"
  co  = !"git branch | tr -d '* ' | grep -v -e '->' | peco | sed -e 's+remotes/[^/]*/++g' | xargs git checkout"
  cob = checkout -b
  cof = !git branch | peco | xargs git checkout
  df  = diff
  dfh = diff HEAD
  dft = difftool
  lg  = log
  lgp = log -p
  lgs = log --stat
  lgg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cs) %C(bold blue)<%an>%Creset' --abbrev-commit
  mt  = mergetool
  mg  = merge
  st  = status
  ps  = !git push origin `git rev-parse --abbrev-ref HEAD`
  pl  = !git pull origin `git rev-parse --abbrev-ref HEAD`
  psh = push heroku master
  rb  = rebase
  rf  = reflog --date=iso
  rs  = reset
  rsh = reset --hard
  prm = pull-request
  prb = pull-request -b
  op  = browse
  fps = ftp push
  g   = !ghq get
  rmg = !rm -rf `ghq list -p | fzf`
  opg = !hub browse `ghq list | fzf | cut -d "/" -f 2,3`
  fst = fuzzy status
  fbr = fuzzy branch
  flg = fuzzy log
  fss = fuzzy stash
  fh = fetch

[color]
  ui = true
  diff = auto
  branch = auto
  status = auto
  showbranch = auto

[color "branch"]
  local = green
  remote = red
  current = green reverse

[color "diff"]
  old = red bold
  new = green bold
  meta = yellow bold
  frag = magenta bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

#[commit]
# template = ~/.commi_template

[delta] # https://github.com/dandavison/delta
  plus-color = "#012800"
  minus-color = "#340001"
  syntax-theme = Monokai Extended
  side-by-side = true
  line-numbers-left-format = ""
  line-numbers-right-format = "│ "

[interactive]
  diffFilter = delta --color-only

[ghq]
  root = ~/ghq/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
